<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4 text-center animated slideinleft">GitHub-Search.</h1>
  <div class="jumbotron">
        <h1 class="display-4 text-center animated slideinleft">~GitHub-Search.~</h1>
        <hr class="my-4">
        <div class="para">
            <p>Github-Search allows one to view someone's work by just writing the name of the person used in github.The person will be able to se all the work and have an idea eof how it works.</p>
        </div>
    </div>
</div>